@import url(./ConfigureRowColSlots.css);

.square-button.disappear {
  background-color: transparent; /* Fill color when selected */
  border: transparent;
  pointer-events: none; /* DON'T REMOVE THIS- will affect click on it in View State */
}
.unique-div {
  border: 3px solid #3498db; /* Bright border color */
  border-radius: 8px; /* Rounded corners */
  padding: 20px; /* Space inside the border */
  background-color: #f9f9f9; /* Light background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  position: relative; /* To position the pseudo-element */
  margin: 20px; /* Space around the div */
}

.unique-div::before {
  content: 'Final-State'; /* Label */
  position: absolute;
  top: -10px; /* Adjust as needed */
  left: -10px; /* Adjust as needed */
  background-color: #3498db; /* Background color for the label */
  color: white; /* Text color */
  padding: 5px 10px; /* Padding for the label */
  font-weight: bold; /* Bold text */
  border-radius: 5px; /* Rounded corners for the label */
}
