@import url(./parking-facility-view.css);

.square-button.disappear {
  background-color: transparent;
  border: transparent;
  pointer-events: none; /* DON'T REMOVE THIS- will affect click on it in View State */
}
.unique-div {
  border: 3px solid #3498db; 
  border-radius: 8px;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  margin: 20px;
}

.unique-div::before {
  content: 'Final-State';
  position: absolute;
  top: -10px;
  left: -10px;
  background-color: #3498db;
  color: white;
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 5px;
}

.badge-slotType {
  position: absolute;
  top: -5px;
  right: -5px;
  display: flex;
  align-items: center;
  border-radius: 3px;
}

.badge-text {
  background-color: #3498db;
  color: white;
  padding: 1px 2px;
  border-radius: 2px;
  font-weight: bold; 
  font-size: 8px;
}

.badge-img {
  width: 15px;
  height: 15px;
}
